<div class="text-center border border-light">
    <h1>User</h1>
    <form [formGroup]="UserControl" (ngSubmit)="onSaveForm()">
        <label> </label>
        <input class="form-control" type="text" formControlName="Name" placeholder="Nombre">
        <div class="alert alert-danger" role="alert" *ngIf="name.invalid && (name.dirty || name.touched)">
            Campo requerido!
        </div>
        <br>
        <input class="form-control" type="text" formControlName="LastName" placeholder="Apellido">
        <br>
        <input class="form-control" type="text" formControlName="NickName" placeholder="Nickname">
        <br>
        <input class="form-control" type="text" formControlName="YearsOld" placeholder="Edad">
        <br>
        <input class="form-control" type="text" formControlName="Gender" placeholder="Genero">
        <br>
        <input class="form-control" type="text" formControlName="PhoneNumber" placeholder="Numero Telefonico">
        <br>
        <button type="submit" class="btn btn-info btn-block" (click)="onSaveForm()">Enviar</button>
    </form>
</div>